{% extends "base.html" %}
{% block custom_css%}
{% endblock %}
{% block custom_js %}
<script src="/static/js/global.js"></script>
{% endblock %}
{% block title%}
phdgogo-试剂采购搜索-供应商联系方式
{% endblock %}
{% block body %}
	<div class="navbar navbar-fixed-top">
 <div class="navbar-inner">
 <div class="container">
 <a class="brand" href="{% url "regeant.views.index"%}"><img src="/static/img/phdgogologo_strip.png" alt="phdgogo.com" id="navlogo"/></a>
 <form class="navbar-form pull-left">
     <div class="input-append">
         <input type="text" class="span4">
         <button type="submit" class="btn"><i class="icon-search"></i></button>
       </div>
 </form>
   <ul class="nav pull-right">
   	<li><a href="{% url "customer.views.cart_view" %}">采购清单<span class="badge badge-important">{{request.session.cart|length}}</span></a></li>
   <li><a href="#">帮忙分享phdgogo</a></li>
   </ul>
   </div>
 </div>
</div>
<div class="container">
<div class="row">
<div class="span6 offset3">
{{product.product_english_name}}<img src="{{product.producer.logo_path}}" class="companylogoimg">货号:{{product.product_no}}
{% if cart_info %}
<button class="btn btn-info disabled">已加入清单</button>
{% else %}
<a href="{% url "customer.views.add_cart" product.pk %}"class="btn btn-info">加入清单</a>
{% endif %}
<hr>
</div>
</div>
<div class="row">
<div class="span6 offset3">
<table class="table table-hover">
<thead>
<tr>
<td>公司名称</td>
<td>地区</td>
<td>联系电话</td>
<td>邮箱</td>
<td>QQ</td>
</tr>
</thead>
<tbody>
	{% for provider in product.producer.providers.all %}
<tr>
<td>{{ provider.name }}</td>
<td>{{ provider.address }}</td>
<td>{{ provider.phonenumber }}</td>
<td>{{ provider.userref.email }}</td>
<td>{{ provider.qqnumber }}</td>
</tr>
	{% endfor %}
</tbody>
</table>
</div>
</div>
</div>
{% endblock %}
