{% extends "base.html" %}
{% block custom_css%}
{% endblock %}
{% block custom_js %}
<script src="/static/js/global.js"></script>
{% endblock %}
{% block title%}
phdgogo-试剂采购搜索-采购清单
{% endblock %}
{% block body %}
<div class="navbar navbar-fixed-top">
 <div class="navbar-inner">
 <div class="container">
 <a class="brand" href="{% url "regeant.views.index"%}"><img src="/static/img/phdgogologo_strip.png" alt="phdgogo.com" id="navlogo"/></a>
 <form class="navbar-form pull-left">
     <div class="input-append">
         <input type="text" class="span4">
         <button type="submit" class="btn"><i class="icon-search"></i></button>
       </div>
 </form>
   <ul class="nav pull-right">
   	<li><a href="{% url "customer.views.cart_view" %}">采购清单<span class="badge badge-important">{{request.session.cart|length}}</span></a></li>
   </ul>
   </div>
 </div>
</div>
<div class="container">
<div class="row">
<div class="span6 offset3">
 <ul class="breadcrumb">
  <li><a href="{{request.META.HTTP_REFERER}}">返回上一页</a> <span class="divider">/</span></li>
  <li class="active">采购清单</li>
</ul>
<h3>您的采购清单</h3>
<!--
<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=2731591473&site=qq&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:2731591473:52" alt="点击这里给我发消息" title="点击这里给我发消息"/>售前:J.Watson</a>
1-->
<table class="table">
  <thead>
   <tr>
<td>生产公司</td>
<td>产品名称</td>
<td>货号</td>
<td>供应商信息</td>
</tr>
</thead>
<tbody>
	{% for product in products %}
<tr>
<td>{{ product.producer.name }}</td>
<td><a href="{{ product.url_path }}">{{ product.product_english_name }}</a></td>
<td>{{ product.product_no }}</td>
<td><a href="{% url "regeant.views.provider_detail" product.producer.id %}">点击查看</a></td>
</tr>
	{% endfor %}
</tbody>
</table>
<hr>
<div class="row">
<div class="span3">
<a href="{% url "customer.views.clean_cart" %}" class="btn btn-warning">清空采购清单</a>
</div>
<div class="span3">
<a href="{% url "customer.views.excelview" %}" class="btn btn-success">生成采购清单Excel</a>
</div>
</div>
</div>
</div>
</div>
{% endblock %}